<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Authentication</title>
</head>
<body>
    <%- include('partials/header.ejs'); -%>
    <div  id="heading">
        <h1 >Wisen Media Company</h1>
    </div>
    <div  class="input-card">
        <h2>Enter Your Details</h2>             
    <form  action="/add" method="POST">
        <label id= "id" for="firstName">First Name:</label>
        <input type="text" id=".input-card input"  placeholder="Enter fist name"  name="firstName" required>
        <br>
        <label id="id" for="lastName">Last Name:</label>
        <input type="text" id=".input-card input"  placeholder="Enter last Name"    name="lastName" required>
        <br>
        <button  class="submit" type="submit">Submit</button>
     <%- include('partials/footer.ejs'); -%>
</body>
</html>